<section class="card-section mb-3" >
  <div class="cardx">
      <div class="flip-card">
          <div class="flip-card__container">
              <div class="card-front">
                  <div class="card-front__tp card-front__tp--camping" style="background-image: url({{image}})">
                  </div>
                  <div class="card-front__bt">
                      <h3 class="card-front__text-view card-front__text-view--camping">
                          {{title}}
                      </h3>
                  </div>
              </div>
              <div class="card-back">
                  <video class="video__container" controls muted>
                      <source class="video__media" src={{video}} type="video/mp4" >
                  </video>
              </div>
          </div>
      </div>

      <div class="inside-page">
          <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--camping">
                  {{title}}
              </h3>
              <p class="inside-page__text">
                {{description}}
              </p>
              <a class="inside-page__btn inside-page__btn--camping">VER PRODUCTOS</a>
          </div>
      </div>
  </div>
</section>