<!-- <section id="cardCategory"  class="card mb-3" style="max-width: 540px;">
    <div >
      <div class="row g-0">
        <div class="col-md-4">
          <img src={{image}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{text}}</p>
            <p class="card-text"><small class="text-muted">{{updated}}</small></p>
          </div>
        </div>
      </div>
    </div>
</section> -->

<!-- Card: Camping -->
<section class="card-section mb-3" >
  <div class="cardx">
      <div class="flip-card">
          <div class="flip-card__container">
              <div class="card-front">
                  <div class="card-front__tp card-front__tp--camping" style="background-image: url({{image}})">
                  </div>
                  <div class="card-front__bt">
                      <p class="card-front__text-view card-front__text-view--camping">
                          Ver más
                      </p>
                  </div>
              </div>
              <div class="card-back">
                  <video class="video__container" autoplay muted loop>
                      <source class="video__media" src="https://player.vimeo.com/external/180185916.sd.mp4?s=c893e4770f87b00e0d6b5a1de138b01b02aaa085&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
                  </video>
              </div>
          </div>
      </div>

      <div class="inside-page">
          <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--camping">
                  {{title}}
              </h3>
              <p class="inside-page__text">
                Aquí iría la descripción
              </p>
              <a class="inside-page__btn inside-page__btn--camping">VER PRODUCTOS</a>
          </div>
      </div>
  </div>
</section>