
<section class="d-flex flex-column align-items-center mx-3">
    <h1>Nosotros</h1>
    <hr>
    <p>Nuestra empresa está basada en la mistíca y elegancia de la noche. Creemos profundamente en un cambio radical que pasa, transversalmente, por la estética.<br>
    Por eso <strong>Magic Night</strong> busca ser una empresa independiente que se piense el cuidado ambiental y desarrolle alternativas apoyandose de los saberes familiares <br> 
    sobre la costura y la implementación de técnicas para elaborar la mejor ropa.</p>
</section>