img {
    width: 150px;
    height: 220px;
    margin: 5px;
}

h5 {
    text-align: center;
}

h4 {
    text-align: center;
}

div {
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    margin: 0 15px;
}