<!-- <section id="categorySection" class="container-fluid">

    <div>
        <button type="button" class="btn btn-primary" routerLink="/">Accesorios</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Blusas</button>
        <button type="button" class="btn btn-primary">Chaquetas</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Pantalones</button>
        <button type="button" class="btn btn-primary">Faldas</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Vestidos</button>
        <button type="button" class="btn btn-primary">Lencería</button>
    </div>
</section> -->

<section id="allProductsSection">
    <div id="allProductsBox"><button type="button" class="btn button" [routerLink]="['products']">Todos los productos</button></div>
</section>
<section>
    <app-category></app-category>
</section>
<section>
    <app-slider-cards></app-slider-cards>
</section>
